body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(224, 233, 235);
  margin: 0;
}

.container {
  flex: 1;
}

/* Navbar */
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar {
  height: 5rem;
  background-color: white;
  width: 100%;
}

.nav-link {
  color: #222222 !important;
}


/* Footer */
.f-info {
  margin-top: 5rem;
  height: 8rem;
  background-color: #edebed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.f-info-socilas,
.f-info-links,
.f-info-brad {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socilas i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a {
  color: #000;
  text-decoration: none;
  margin: 0 0.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* Cards (for listings) */
.card {
  height: 25rem;
  width: 25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: none !important;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 20rem !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
  margin-top: 1rem;
}

.listing-links {
  text-decoration: none;
  color: inherit;
}

/* Card effect */
.card-img-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 1rem;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Show page card */
.show-card {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none !important;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    margin-top: 1rem;
    display: flex;
}
